body{
    background: url("egfrwfp.webp");
    background-image: cover;
    background-repeat: no-repeat;
    background-position: 100%;
} */


button{
    background-color: black;
    color: white;
}